/* ==============================
   Root Variables
=================================*/
:root {
  --heading-color: #2a3855;
  --button-color:#fdd428;
}
.white{
  color: white; important!
}
.heading{
  color: var(--heading-color);
}
.yellow{
  color: var(--button-color);
}
/* ==============================
   Navbar
=================================*/
.top-nav{
    background-color: var(--heading-color);
    padding: 8px;
}