/* ==============================
   Root Variables
=================================*/
:root {
  --heading-color: #2a3855;
  --button-color:#fdd428;
}
.white{
  color: white; 
}
.heading{
  color: var(--heading-color);
}
.yellow{
  color: var(--button-color);
}
/* ==============================
   StyleSheet
=================================*/
/* ==============================
   Navbar
=================================*/